---
const today = new Date();
---

<footer class="flex flex-row justify-between text-xs my-16">
  &copy; {today.getFullYear()} Riku Rainio  
  <div class="social-links">
    <a href="/about">About</a>
    <a href="/rss.xml">RSS</a>
  </div>
</footer>